
about-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
}

.about-intro {
    text-align: center;
}

.about-info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-info-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-info-column {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.about-info-column p {
    margin: 10px 0;
}

.about-info-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.about-info-item-large {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.about-info-detail {
    margin: 10px 0;
    padding-left: 54px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
}

/* メディアクエリ */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .about-info-box {
        flex-direction: column;
    }

    .about-info-row {
        flex-direction: column;
    }

    .about-info-column {
        min-width: 100%;
    }

    .skill-item {
        width: 100%;
    }
}
